<header class="grid grid-middle island-1-2">
  <h1 class="unit">kaitlin moore</h1>
  <nav role="navigation" class="mobile-nav unit">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="index.html">home</a></li>
        <li><a href="about.html">about</a></li>
        <li><a href="work.html">work</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
  </nav>

  <nav role="navigation" class="desktop-nav unit">
    <div class="pad-r-1">
      <ul class="mobile-nav-ul">
        <li> <a class="btn gutter-1-2" href="index.html">home</a></li>
        <li> <a class="btn gutter-1-2" href="about.html">about</a></li>
        <li> <a class="btn gutter-1-2" href="work.html">work</a></li>
        <li> <a class="btn gutter-1-2" href="contact.html">contact</a></li>
      </ul>
    </div>
  </nav>
</header>
